html, body {
    font-size:16px;
}

.carousel-inner > .carousel-item.active > .carousel-img {
	display: block;
	width: 100%;
	height:auto;
}
.carousel-caption {
    margin-left: -50%;
	padding-bottom: 30%
}

.single-page-test{
    height: 35rem;    
    padding-bottom:1rem;
    padding-top:1rem;
}
.mgmt-staff-img {
    width: 50%;
    height: auto;
    margin-left: 25%
}
.slider-img {
    width:100%;
    max-width: 100%;
    height: auto;
}
.navbar {
    height:4rem;
    padding:2rem;
    padding-left: 2rem
}
.navbar-brand {
    font-size: 2rem;
}
.nav-item {
    font-size:1.2rem;
}
.color-font{
    font-size: 2rem;
    color:darkblue;
}
.white-title {
    color: white;
}
.white-text-btn{
    color:white;
}
.dropdown-item {
    color: white
}
.dropdown-menu {
    background: rgb(0, 0, 0, 0.7);
}
.footer {
    padding-top:5%;
}
.footer-bottom {
    border: solid;
    border-width: thin;
    background-color: grey;
    padding-top:1%;
}
.info-board{
    height:30%;
}
.info-board-title{
    padding-top: 3rem;
    padding-bottom: 0rem;
    color:white;
    font-size: 2rem;
}
.info-board-content{
    padding-top: 2rem;
    padding-bottom: 5rem;
    color:white;
    font-size:1.2rem;height:50rem
}
.hover-black-content{
    border:solid;
    height:100%;
    width:100%;
    background-color: black;
    opacity:0;
}
.hover-black-content:hover {
    opacity:0.5;
}